@import url("https://use.typekit.net/xtg7vrs.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap');

* {
  --main-color: #F1F2F6;
  --light-color: #FFFFFF;
  --p-color: #404d63;
  --main-titles-color: #697280;
  --titles-color: #1b2534;
  --lines--color: #bdc3cd;
  --separator-lines-color: #0F1116;
  --outline--color: #697280;
  --button-color: #673AB6;
  --dash-lines-color: #BCC2CC;
  --projects-grid-color: #FAFAFC;
  --project-button-color: #D6DBE2;
  --border-radius-first: 10px;
  --border-radius-second: 44px;
  --border-radius-third: 5px;
  --outline--width: 2px;
  --border-projects-grid: 1px solid var(--dash-lines-color);
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

canvas {
  font: 48px 'gilbert', serif;
}

body {
  background-color: var(--main-color);
}

header {
  background-color: var(--light-color);
  width: 100vw;
  height: 80px;
  padding-right: 50px;
  padding-left: 80px;
  position: fixed;
  z-index: 2;
}


.canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

h1 {
  font-family: "gilbert", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--main-titles-color);
  font-size: 38px;

}

h2,
h4 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: 800;

}

h3 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: var(--main-titles-color);

}

h4 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 13px;
  font-weight: 800;

}

p {
  font-family: 'Helvetica';
  color: var(--p-color);
  font-weight: 500;
}

.flex-container-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-container-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.m-right {
  margin-right: 20px;
}

.shadow {
  box-shadow: 0px 6px 12px #00000014;
}

.button-close {
  width: 100px;
  height: 44px;
  border: var(--outline--width) solid var(--outline--color);
  padding: 16px;
  border-radius: var(--border-radius-second);
  cursor: pointer;
  flex-direction: row;
  justify-content: space-evenly;
}

.button-close img {
  width: 15px;
}

.btn-project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;

}

.btn-project h3 {
  font-size: 13px;
  margin-left: 5px;
}

.btn-project img {
  width: 11%;
}

.download {
  background-color: var(--button-color);
}

.download h3 {
  color: var(--light-color);
}

.wrapper {
  width: 80%;
  height: 100%;
}

.canvas-container {
  pointer-events: all;
}

.canvas-editor {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding-top: 80px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
  pointer-events: none;
}

.canvas-config {
  width: 350px;
  height: 94%;
  background-color: var(--light-color);
  border-radius: var(--border-radius-first);
  box-shadow: 6px 6px 12px #00000010;
  position: relative;
  overflow: hidden;
  max-height: 780px;
  pointer-events: all;

}

.config-selector {
  width: 80%;
  height: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.canvas-size {
  height: 16%;
  justify-content: space-evenly;
}

.line-separator {
  content: "";
  width: 88%;
  bottom: 0;
  opacity: 0.08;
  border: 1px solid var(--separator-lines-color);
}

.config-options {
  padding-top: 20px;
  min-height: 570px;
  width: 100%;
  height: 90%;
}

.figures {
  width: 94%;
  height: 65px;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;

}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.figure {
  width: 43px;
  height: 43px;
  border-radius: var(--border-radius-third);
  border: 1px dashed var(--dash-lines-color);
  cursor: pointer;
}

.figure img {
  width: 50%;
}

.selection {
  display: flex;
  width: 96%;
  height: 45px;
  align-items: center;
  padding-left: 5px;
}


.simple-selector {
  height: 80px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}


.project-buttons {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--light-color);
}

.scroll-options {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: auto;
}

button {
  width: 92px;
  height: 30px;
  border: none;
  border-radius: var(--border-radius-third);
  cursor: pointer;
}



/*Projects-Section*/


.projects-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
}

.projects-container {
  width: 850px;
  height: 400px;
  background-color: var(--projects-grid-color);
  border-radius: var(--border-radius-first);
  box-shadow: 0px 3px 6px #00000029;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.projects-grid {
  display: flex;
  width: 100%;
  height: 350px;
  flex-wrap: wrap;
  border-radius: var(--border-radius-first);
  overflow: hidden;
  border: var(--border-projects-grid);

}

.cell {
  width: 28%;
  height: 50px;
  border-right: var(--border-projects-grid);
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}



.cell:not(:nth-last-child(-n+4)) {
  border-bottom: var(--border-projects-grid);
}

.cell:nth-child(4n) {
  border-right: 0px;
  width: 16%;
}

.cell h2 {
  color: var(--titles-color);
  font-size: 16px;
}



.project-button {
  background-color: var(--project-button-color);
  height: 27px;
}

.project-button h3 {
  color: var(--p-color);
  font-weight: 800;
  font-size: 13px;
}

.new,
.cell .project-button:hover {
  background-color: var(--button-color);

}

.new h3,
.cell .project-button:hover h3 {
  color: var(--light-color);
  font-weight: 800;


}

.new-options {
  width: 230px;
  display: flex;
  justify-content: space-evenly;
}

.new-sizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.sizes-options {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.second-title {
  font-size: 16px;
}

.options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  justify-content: space-between;

}

.toast-message {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100px;
  bottom: 0;
  z-index: 100;
}

.message {
  width: 250px;
  height: 60px;
  background-color: var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-first);
  opacity: 0;
  bottom: -100;
  padding: 10px;
  text-align: center;

}

.message p {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: var(--light-color);
}

.new-project {
  width: 450px;
  height: 300px;
  background-color: var(--projects-grid-color);
  border-radius: var(--border-radius-first);
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.config {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 55%;
  align-items: center;
  justify-content: space-evenly;
}

input.width-config {
  width: 100px;
  text-align: center;
}

.input-text-inside {
  text-align: center;

}

.hide {
  display: none;
}